/* Colores neutros */
$table-bg: #f8f9fa;  /* Fondo de la tabla */
$table-head-bg: #e9ecef; /* Fondo del encabezado de la tabla */
$table-border-color: #dee2e6; /* Color del borde de la tabla */
$table-text-color: #495057; /* Color del texto de la tabla */
